/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Backgrouns repeat-x */
/* line 42, sprites/*.png */
.sprites-sprite, .sprites-search-icon {
  background: url('/vila-das-merces/images/sprites-s771d50f299.png') no-repeat;
}

/* line 60, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-search-icon {
  background-position: 0 0;
}

/* line 19, ../sass/index.scss */
.grid {
  width: 988px;
}

/* line 23, ../sass/index.scss */
.grid-2 {
  /*
  **	Calcula o width de um container, baseado em um grid
  **	@param 	{pixels} 	-> grid 		: o tamanho total do grid
  **	@param 	{Integer} 	-> columns 		: quantidade de divisões que o grid terá
  **	@param 	{Integer} 	-> margin 		: margin right/left que cada elemento tem
  **	@return {pixels} 	-> width 		: width do container
  */
  width: 484px;
  margin-right: 20px;
}
/* line 27, ../sass/index.scss */
.grid-2:nth-child(2n+2) {
  margin-right: 0!important;
}

/* line 32, ../sass/index.scss */
.grid-3 {
  /*
  **	Calcula o width de um container, baseado em um grid
  **	@param 	{pixels} 	-> grid 		: o tamanho total do grid
  **	@param 	{Integer} 	-> columns 		: quantidade de divisões que o grid terá
  **	@param 	{Integer} 	-> margin 		: margin right/left que cada elemento tem
  **	@return {pixels} 	-> width 		: width do container
  */
  width: 316px;
  margin-right: 20px;
}
/* line 36, ../sass/index.scss */
.grid-3:nth-child(3n+3) {
  margin-right: 0!important;
}

/* line 41, ../sass/index.scss */
.grid-4 {
  /*
  **	Calcula o width de um container, baseado em um grid
  **	@param 	{pixels} 	-> grid 		: o tamanho total do grid
  **	@param 	{Integer} 	-> columns 		: quantidade de divisões que o grid terá
  **	@param 	{Integer} 	-> margin 		: margin right/left que cada elemento tem
  **	@return {pixels} 	-> width 		: width do container
  */
  width: 232px;
  margin-right: 20px;
}
/* line 45, ../sass/index.scss */
.grid-4:nth-child(4n+4) {
  margin-right: 0!important;
}

/* line 50, ../sass/index.scss */
.grid-5 {
  /*
  **	Calcula o width de um container, baseado em um grid
  **	@param 	{pixels} 	-> grid 		: o tamanho total do grid
  **	@param 	{Integer} 	-> columns 		: quantidade de divisões que o grid terá
  **	@param 	{Integer} 	-> margin 		: margin right/left que cada elemento tem
  **	@return {pixels} 	-> width 		: width do container
  */
  width: 181.6px;
  margin-right: 20px;
}
/* line 54, ../sass/index.scss */
.grid-5:nth-child(5n+5) {
  margin-right: 0!important;
}

/* line 64, ../sass/index.scss */
.orange-bg {
  background: #f8c27a;
}

/* line 68, ../sass/index.scss */
.yellow-bg {
  background: #ffe100;
}

/* line 72, ../sass/index.scss */
.orange-color {
  color: #f8c27a;
}

/* line 76, ../sass/index.scss */
.yellow-color {
  color: #ffe100;
}

/* line 107, ../sass/index.scss */
.container-center {
  margin: 0 auto;
}

/* line 111, ../sass/index.scss */
.link {
  color: #666666;
  text-decoration: none;
}
/* line 115, ../sass/index.scss */
.link:hover {
  text-decoration: underline;
}

/* line 122, ../sass/index.scss */
.header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 129, ../sass/index.scss */
.header-nav {
  width: 100%;
  height: 30px;
  background: #111;
}

/* line 135, ../sass/index.scss */
.header-nav-items {
  height: 100%;
  text-align: center;
}

/* line 141, ../sass/index.scss */
.header-nav-item {
  float: left;
  position: relative;
}

/* line 146, ../sass/index.scss */
.header-nav-link {
  display: block;
  font: bold 14px/27px arial;
  color: white;
  border-bottom: 3px solid transparent;
}
/* line 153, ../sass/index.scss */
.header-nav-link:hover {
  text-decoration: none;
  color: #9bca3e;
  border-bottom-color: #9bca3e;
}
/* line 159, ../sass/index.scss */
.header-nav-link.active {
  color: #9bca3e;
  background: #222;
  border-bottom-color: #9bca3e;
}

/* line 166, ../sass/index.scss */
.header-middle-container {
  width: 100%;
  height: 70px;
  background: #eee;
}

/* line 172, ../sass/index.scss */
.header-logo {
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px 0;
  margin-right: 20px;
}

/* line 180, ../sass/index.scss */
.form-search {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 186, ../sass/index.scss */
.input-search {
  float: left;
  width: 300px;
  height: 30px;
  margin-right: 20px;
  border: 1px solid #999999;
  font: normal 16px/16px arial;
}

/* line 196, ../sass/index.scss */
.input-submit {
  float: left;
  height: 30px;
  background: #333;
  color: white;
  border: 0;
}
/* line 203, ../sass/index.scss */
.input-submit:hover {
  background: #111;
}

/* line 210, ../sass/index.scss */
.main {
  margin-top: 120px;
  margin-bottom: 20px;
}

/* line 215, ../sass/index.scss */
.places {
  float: left;
}

/* line 220, ../sass/index.scss */
.places-list {
  float: left;
  margin-bottom: 20px;
}

/* line 225, ../sass/index.scss */
.places-list-title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font: bold 16px/16px arial;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #eeeeee;
}

/* line 237, ../sass/index.scss */
.places-sublist li {
  height: 30px;
  border-bottom: 1px solid #eeeeee;
}
/* line 241, ../sass/index.scss */
.places-sublist li:last-child {
  border-bottom: none;
}

/* line 246, ../sass/index.scss */
.places-sublist-title {
  display: block;
  width: 100%;
  padding: 6px;
  font: normal 16px/18px arial;
}
