// IMPORTS
	@import "compass/reset";
	@import "compass/utilities/sprites/base";
// ==================

// MIXINS
	@import "_grids";
	@import "_css3";
// ==================

// SPRITES

	@import "sprites-config";
// ==================

// GRID
	$grid: 988px;
	$mgr: 20px;
	.grid {
		width: $grid;
	}

	.grid-2 {
		@include responsiveWidth( $grid, 2, $mgr );
		margin-right: $mgr;

		&:nth-child(2n+2) {
			margin-right: 0!important;
		}
	}

	.grid-3 {
		@include responsiveWidth( $grid, 3, $mgr );
		margin-right: $mgr;

		&:nth-child(3n+3) {
			margin-right: 0!important;
		}
	}

	.grid-4 {
		@include responsiveWidth( $grid, 4, $mgr );
		margin-right: $mgr;

		&:nth-child(4n+4) {
			margin-right: 0!important;
		}
	}

	.grid-5 {
		@include responsiveWidth( $grid, 5, $mgr );
		margin-right: $mgr;

		&:nth-child(5n+5) {
			margin-right: 0!important;
		}
	}
// ==================

// COLORS
	$orange: #F8C27A;
	$yellow: #FFE100;

	.orange-bg {
		background: $orange;
	}

	.yellow-bg {
		background: $yellow;
	}

	.orange-color {
		color: $orange;
	}

	.yellow-color {
		color: $yellow;
	}
// ==================

// LINKS
	// menu
	$link-color-menu: #fff;
	$link-hover-color-menu: #9BCA3E;
	$link-text-decoration-menu: none;

	// geral
	$link-color: #666;
	$link-hover-text-decoration: underline;
// ==================

// HEADER
	$header-middle-height: 70px;

	// LOGO
		$logo-size: 50px;
		$logo-padding: ($header-middle-height - $logo-size) / 2;
	// ==================

	// FORM > SEARCH
		$input-search-height: 30px;
		$form-padding: ($header-middle-height - $input-search-height) / 2;
	// ==================
// ==================

// GERAL
	.container-center {
		margin: 0 auto;
	}

	.link {
		color: $link-color;
		text-decoration: none;

		&:hover {
			text-decoration: $link-hover-text-decoration;
		}
	}
// ==================

// HEADER
	.header {
		position: fixed;
		top: 0;

		width: 100%;
	}

	.header-nav {
		width: 100%;
		height: 30px;
		background: #111;
	}

	.header-nav-items {
		height: 100%;

		text-align: center;
	}

	.header-nav-item {
		float: left;
		position: relative;
	}

	.header-nav-link {
		display: block;

		font: bold 14px/27px arial;
		color: $link-color-menu;
		border-bottom: 3px solid transparent;

		&:hover {
			text-decoration: $link-text-decoration-menu;
			color: $link-hover-color-menu;
			border-bottom-color: $link-hover-color-menu;
		}

		&.active {
			color: $link-hover-color-menu;
			background: #222;
			border-bottom-color: $link-hover-color-menu;
		}
	}

	.header-middle-container {
		width: 100%;
		height: $header-middle-height;
		background: #eee;
	}

	.header-logo {
		float: left;
		width: 50px;
		height: $logo-size;
		padding: $logo-padding 0;
		margin-right: 20px;
	}

	.form-search {
		float: left;
		padding-top: $form-padding;
		padding-bottom: $form-padding;
	}

	.input-search {
		float: left;
		width: 300px;
		height: $input-search-height;
		margin-right: 20px;
		border: 1px solid #999;

		font:normal 16px/16px arial;
	}

	.input-submit {
		float: left;
		height: 30px;
		background: #333;
		color: $link-color-menu;
		border: 0;

		&:hover {
			background: #111;
		}
	}
// ==================

// MAIN
	.main {
		margin-top: 120px;
		margin-bottom: 20px;
	}
	
	.places {

		float: left;
	}

	.places-list {
		float: left;
		margin-bottom: 20px;
	}

	.places-list-title {
		padding-bottom: 10px;
		margin-bottom: 20px;

		font: bold 16px/16px arial;
		text-transform: uppercase;
		text-align: center;

		border-bottom: 2px solid #eee;
	}

	$sublist-item-height: 30px;
	.places-sublist li {
		height: $sublist-item-height;
		border-bottom: 1px solid #eee;

		&:last-child {
			border-bottom: none;
		}
	}

	.places-sublist-title {
		display: block;
		width: 100%;
		padding: ( ($sublist-item-height - 18px) / 2);
		font: normal 16px/18px arial;
	}
// ==================