@mixin responsiveWidth($grid, $columns, $margin) {
	/*
	**	Calcula o width de um container, baseado em um grid, quantidade de colunas e margin
	**	@param 	{pixels} 	-> grid 		: o tamanho total do grid
	**	@param 	{Integer} 	-> columns 		: quantidade de divisões que o grid terá
	**	@param 	{Integer} 	-> margin 		: margin right/left que cada elemento tem
	**	@return {pixels} 	-> width 		: width do container
	*/

	$marginTotal: $margin * ($columns - 1);
	$width: ($grid - $marginTotal) / $columns;
	width: $width;
}